.local name generation/registration

> 4. Register the unique name using Multicast DNS.

We found Microsoft recommended using “.local.” as a pseudo-TLD for small private networks with internal DNS servers (here is an article that is still accessible, https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-essentials-sbs/cc708159(v=ws.10), and the Wiki page https://en.wikipedia.org/wiki/.local covers some legacy recommendations made by Microsoft, though some I think have been removed). We also note that Apple provided guidance on how to configure OS X to look up “.local” hostnames using both mDNS and DNS (https://support.apple.com/en-us/HT201275, I am not sure if this is still the case for newer OS X). Hostnames containing only one level (label) in addition to “.local”  are resolved using mDNS by default. Names containing two or more labels in addition to local will be resolved using DNS by default.

For this reason, our current implementation only generates names containing one additional label (also recommended by RFC 6762 I think).

> 5. If registering of the unique name fails, abort these steps. The candidate is not exposed.

I understand this section is more about the principle, but I am wondering how we/or if we should define failure here. Since we use the random UUID for hostnames, name conflicts are likely avoided with minimum retries.

> For this reason, our current implementation only generates names containing one additional label (also recommended by RFC 6762 I think).

@tQsW, do you think we should have a stronger statement about UUIDs requirements.
Would something like the following fix the first part of the issue:
Step 3 of section 3.1:
Generate a random unique name. The unique name SHOULD be a version 4 UUID as defined in [RFC4122].


As of the second issue about the error case, there might be cases where there will be an error case right away. Maybe no interface with simulcast support for instance.


> Step 3 of section 3.1:
> Generate a random unique name. The unique name SHOULD be a version 4 UUID as defined in [RFC4122].

The "should"-level requirement of "uuid.local" sounds good to me. Do you think if it would be helpful to also refer to Section 3 in RFC6762? The second last paragraph there has a related discussion, and the above requirement conforms to that.



> As of the second issue about the error case, there might be cases where there will be an error case right away. Maybe no interface with simulcast support for instance.

The blocking issue in the security consideration section may also be an example of failure here. I feel we may need to clarify the handling of failure (with limit of retries, for example).