Missing required section - IANA considerations

IANA Considerations

A. Must specify if IANA has to create a new registry or modify rules for an existing registry.

B. Must specify if the document requires IANA to assign or update values in an IANA registry before RFC publication.

C. See "Guidelines for Writing an IANA Considerations Section in RFCs" [RFC5226] (Narten, T. and H. Alvestrand, “Guidelines for Writing an IANA Considerations Section in RFCs,” May 2008.) and in some cases also "IANA Allocation Guidelines For Values In the Internet Protocol and Related Headers" [RFC2780] (Bradner, S. and V. Paxson, “IANA Allocation Guidelines For Values In the Internet Protocol and Related Headers,” March 2000.) [RFC5237] (Arkko, J. and S. Bradner, “IANA Allocation Guidelines for the Protocol Field,” February 2008.). In some case "Assigning Experimental and Testing Numbers Considered Useful" [RFC3692] (Narten, T., “Assigning Experimental and Testing Numbers Considered Useful,” January 2004.) may help as well.

D. If there is no action for IANA, the section should say that, e.g., including something like **"This document has no actions for IANA."**


Good catch. Do you want to take a shot at this? JSEP says
> This document requires no actions from IANA.

Not blocking for today's doc, to be clear.

Fixed by #46 